/*.container{

    width: 100%;
}
.table{

    width: 90%;
   
}*/

::ng-deep .mat-header-row{

    min-height : 42px !important;
    border-bottom-color: black;
}

::ng-deep .mat-header-cell{

    color: black !important;
    font-size: 14px !important;
    font-weight: bold !important;
    justify-content: space-around;
}

::ng-deep .mat-row{
    min-height: 32px !important;
    border-bottom-color: black !important;
}

::ng-deep .mat-cell{

    justify-content: space-around;
    padding: 10px;
}

mat-row:nth-child(even){
    background-color: #90CAF9;
    }

mat-row:nth-child(odd){
    background-color: whitesmoke;
    }

.mat-row{

    cursor: pointer;
}

.message{
    margin: auto; 
    width: 50%;
    text-align: center;
}