<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">DATIS Employee Manager</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div id="my-header-menu" class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">View All Employees<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/add-employee" routerLinkActive="active">Add Employees</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="/expenses/showAllExpenses">Update Employee</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="/income/showAllIncome">Incomes</a>
            </li> -->
             
          </ul>



          <!-- <span class="navbar-text">
            <i class="material-icons md-light md-36">person</i>
          </span> -->

          <div id = "signout" class="btn-group pull-xs-right">
           <a class="sign-out" href="/signout">SIGN OUT</a>
               
              </div>

        </div>
</nav><br><br>

<!-- <div class="actions">
  <div class="row">
    <div class="col-md-4 chips">
      <mat-chip-list>
        <mat-chip color="primary" selected>View All Employees</mat-chip>
      </mat-chip-list>
    </div>
    <div class="col-md-4 chips">
        <a routerLink="/add-employee" routerLinkActive="active">Add Employee</a>
      <mat-chip-list>
        <mat-chip color="primary" selected >Add Employees</mat-chip>
      </mat-chip-list>
    </div>
    <div class="col-md-4 chips">
      <mat-chip-list>
        <mat-chip color="primary" selected>Update Employees</mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div><br><br> -->


<!-- <add-employee></add-employee> -->
<router-outlet></router-outlet>