<div class="card mat-elevation-z8">
  <div class="card-header">
      <h5 class="my-card-header-title">VIEW {{firstName | uppercase }} DETAILS</h5>
  </div>
  <div class="card-body">
      <div class="row">
        <div class="col-md-6 base-salary">
            <p>Base Salary</p>
            <h5 class="gaps">USD: {{baseSalary}}</h5>
        </div>
        <div class="col-md-6 base-salary">
            <p>Take Home Salary</p>
            <h5 class="gaps">USD: {{takeHomeSalary}}</h5>
        </div>
      </div>
      <hr>

      <div class="row ">
          <div class="col-md-12  base-salary">
            
                <h5 class="gap">Personal Details</h5>
            
          </div>
      </div><br>
      <div class="row">
        <div class="col-md-4 base-salary">
            <p>Username</p>
            <h5 class="gaps">{{username}}</h5>
        </div>
        <div class="col-md-4 base-salary">
            <p>First Name</p>
            <h5 class="gaps">{{firstName}}</h5>
        </div>
        <div class="col-md-4 base-salary">
            <p>Last Name</p>
            <h5 class="gaps">{{lastName}}</h5>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-4 base-salary">
            <p>Address</p>
            <h6 class="gap-address">{{street}} {{apt}}</h6>
            <h6 class="gap-address">{{city}} {{state}}</h6>
            <h6 class="gap-address">{{zipcode}}</h6>
        </div>
        <div class="col-md-4 base-salary">
            <p>Cellphone</p>
            <h5 class="gaps">{{cellphone}}</h5>
        </div>
        <div class="col-md-4 base-salary">
            <p>Home Phone</p>
            <h5 class="gaps">{{home}}</h5>
        </div>
        <!-- <div class="col-md-2 base-salary">
            <p>State</p>
            <h5>{{employee.address.state}}</h5>
        </div>
        <div class="col-md-2 base-salary">
            <p>Zipcode</p>
            <h5>{{employee.address.zipcode}}</h5>
        </div> -->
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 base-salary">
            <h5 class="gaps">Employment Details</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 base-salary">
            <p>Joining Date</p>
            <h5 class="gaps">{{joining_date | date:'shortDate' }}</h5>
        </div>
        <div class="col-md-6 base-salary">
            <p>Department</p>
            <h5 class="gaps">{{department}}</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 base-salary">
            <h5 class="gaps">Salary Details</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 base-salary">
            <p>Deductions</p>
            <div *ngIf="flag">
                <h5>{{message}}</h5>
            </div>
            <ul class="base-salary" *ngIf="!flag">
                
                <li *ngFor="let deduction of deductions">
                    <p class="gap">Type: {{deduction.type}}</p>
                    <p class="gap">Rate: {{deduction.rate}}</p>
                </li>
            </ul>
        </div>
        <div class="col-md-4 base-salary">
            <p>Tax Percent</p>
            <h5 class="gaps">{{taxPercent}}</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 base-salary">
                <button class="btn btn-primary mat-elevation-z8" (click)="callUpdate()">Edit Employee</button>
        </div>
      </div>
            
     
    
  </div>
      
</div>
  