/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/dist/css/bootstrap.css';

.mat-form-field{

    margin-left: 20px !important;
    font-weight: bold;
}

.chips{

    margin: auto;
    display: flex;
    justify-content: space-around;
}

.mat-chip{
    padding: 12px !important;
    font-size: 18px !important;
}

.my-card-header-title{
    font-style: bold;
    padding: 6px;
    color: white;
}

.card{
    width: 60%;
    margin: auto;
}



